.appBar {
    width: 100%;
    overflow: auto;
    background-color: orange;
}
.appBar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.appBar ul li {
    float: left;
}
.appBar ul li a {
    width: 120px;
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif monospace;
    font-size: 20px;
    text-align: center;
}
.appBar ul li a:hover {
    background-color: #f99b31;
    
}